@keyframes pulse {
    from, to {
        --stroke-color: var(--dark-trans);
    }
    50% {
        --stroke-color: var(--pulse-color);
    }
}

:root {
    --info-color: rgba(50, 100, 200, 0.7);
    --warning-color: rgba(224, 193, 93, 0.7);
    --error-color: rgba(205, 50, 50, 0.7);
    --pulse-color: var(--error-color);
    --hint-color: rgb(255, 244, 158, 1.0);
    --dark-trans: rgb(0, 0, 0, 0.3);

    --bpmn-stroke-color: rgb(34, 36, 42, 1.0);

    --light-font: rgba(250, 250, 250, 1.0);
    --dark-font: rgba(5, 5, 5, 1.0);
    --note-width: 150px;
    --note-opener-width: 30px;

    --shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    --button-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
}
.note {
    background-color: var(--note-background);
    color: var(--note-font-color);
    border-radius: 5px calc(var(--note-opener-width) / 2) calc(var(--note-opener-width) / 2) 5px;
    font-family: Arial, serif;
    font-size: 12px;
    padding: 0 0 0 10px;
    min-height: 16px;
    min-width: var(--note-width);
    width: var(--note-width);
    text-align: left;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}
.note > div:first-child {
    width: calc(var(--note-width) - var(--note-opener-width));
}
.djs-overlays.hover .note, .djs-overlays.selected .note, .djs-overlays .note.show {
    display: flex;
}
.djs-overlays .err-con {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.d-opener {
    background-color: var(--dark-trans);
    color: var(--light-font);
    font-weight: bold;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    min-width: var(--note-opener-width);
    min-height: var(--note-opener-width);
    width: var(--note-opener-width);
    height: var(--note-opener-width);
    transition: 0.5s opacity;
}
.d-opener:hover {
    opacity: 0.5;
}

.d-panel {
    height: calc(100% - 100px);
    position: fixed;
    top: calc(100px / 2);
    right: 10px;
    width: 30%;
    background: var(--hint-color);
    color: var(--dark-font);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 40px 10px 20px 20px;
    overflow-y: hidden;
    z-index: 99;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: 20px;
}
.d-panel > div {
    height: 100%;
    overflow-y: auto;
}
.d-panel h1 {
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    letter-spacing: -1px;
}
.d-panel p {
    padding: 5px 10px;
    line-height: 16px;
}
.d-panel li {
    list-style: auto;
}
.d-panel blockquote {
    margin: 5px 15px;
}
.d-panel a {
    color: var(--bpmn-stroke-color);
}
.d-panel a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}
.d-panel #close-panel {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 0;
    border-radius: 3px 20px 3px 3px;
}
.d-panel #close-panel:hover {
    -webkit-box-shadow: var(--button-shadow);
    box-shadow: var(--button-shadow);
}
.d-panel .simulation-hint:empty {
    display: none;
}
.d-panel .simulation-hint {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background: var(--info-color);
    color: var(--light-font);
}

.error-list {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    right: 10px;
    bottom: 100px;
    max-height: 80%;
    overflow-y: auto;
    height: auto;
    z-index: 98;
}
.error-list.selected {
    display: flex;
}
.error-list > .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.error-list > .title {
    font-weight: bold;
    letter-spacing: 2px;
}

.bjs-container.simulation .highlight .djs-outline {
    visibility: visible;
    display: inherit !important;
    stroke: var(--element-selected-outline-stroke-color);
}
.vis-line {
    transition: all 0.5s ease-in-out;
    --stroke-color: var(--bpmn-stroke-color);
}
.info-line {
    --stroke-color: var(--info-color);
}
.warning-line {
    --stroke-color: var(--warning-color);
}
.error-line {
    --stroke-color: var(--error-color);
}
.error-pulse {
    animation: pulse 2s infinite;
    --stroke-color: var(--error-color);
    --pulse-color: var(--error-color);
}
.warning-pulse {
    animation: pulse 2s infinite;
    --stroke-color: var(--warning-color);
    --pulse-color: var(--warning-color);
}
.info-pulse {
    animation: pulse 2s infinite;
    --stroke-color: var(--info-color);
    --pulse-color: var(--info-color);
}
.vis-line:not(.djs-connection) .djs-visual path {
    stroke: var(--stroke-color) !important;
    fill: var(--stroke-color) !important;
}
.vis-line .djs-connection > .djs-visual > path {
    stroke: var(--stroke-color) !important;
    fill: none !important;
}
.vis-line.djs-connection .djs-visual path {
    stroke: var(--stroke-color) !important;
}
.vis-line .djs-visual rect {
    stroke: var(--stroke-color) !important;
}
.vis-line .djs-visual circle {
    stroke: var(--stroke-color) !important;
}
.vis-line .djs-visual polygon {
    stroke: var(--stroke-color) !important;
}
.vis-line .djs-visual marker * {
    fill: var(--stroke-color) !important;
}
.note.el {
    display: flex;
}
.note.info {
    --note-background: var(--info-color);
    --note-font-color: var(--light-font);
}
.note.warning {
    --note-background: var(--warning-color);
    --note-font-color: var(--dark-font);
}
.note.error {
    --note-background: var(--error-color);;
    --note-font-color: var(--light-font);
}
.hint-fade:not(.non-fade) {
    opacity: 0.2;
}
.hint-fade.highlight {
    opacity: 1;
}

/* Element-links */
a[data-element-link] {
    position: relative;
    margin-left: 20px;
    margin-right: 3px;
    cursor: pointer;
    font-weight: bolder;
}
a[data-element-link] > img {
    height: 14px;
    position: absolute;
    top: -1px;
    left: -18px;
}

/* The kind colors. */
div.kind.info {
    --kind-back: var(--info-color);
    --kind-font: var(--light-font);
}
div.kind.warning {
    --kind-back: var(--warning-color);
    --kind-font: var(--dark-font);
}
div.kind.error {
    --kind-back: var(--error-color);
    --kind-font: var(--light-font);
}
div.kinds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
    gap: 10px;
}
div.kind {
    --kind-back: #aaa;
    --kind-font: #fff;
    background: var(--kind-back);
    color: var(--kind-font);
    width: fit-content;
    padding: 5px;
    border-radius: 3px;
    font-family: monospace;
}