* {
    box-sizing: border-box;
}
:root {
    --color-property--fulfilled: #008000ff;
    --color-property--violated: #ff0000ff;
}

body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
}

select {
    font-size: 13px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 10px;
    font-weight: bold;
    text-align: left;
    border: solid 1px #cdcdcd;
}

.content,
.content > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content > .message {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    font-size: 16px;
    color: #111;
}

.content > .message .note, .survey > .note {
    vertical-align: middle;
    text-align: center;
    display: block;
    width: 50%;
    font-size: 16px;
}

#BPMNinvest-logo > img {
    width: 400px;
}
#fsu-logo {
    position: fixed;
    bottom: 13px;
    right: 90px;
    z-index: 100;
}
#fsu-logo > img {
    width: 53px;
}
#my-name, #survey {
    color: rgba(0, 47, 93, 1.0);
    position: fixed;
    bottom: 14px;
    right: 165px;
    z-index: 100;
    width: 53px;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}
#my-name:hover, #survey:hover {
    text-decoration: underline;
}

.content > .error .details {
    max-width: 500px;
    font-size: 12px;
    margin: 20px auto;
    text-align: left;
}

.content > .error pre {
    border: solid 1px #CCC;
    background: #EEE;
    padding: 10px;
}

.content:not(.with-error) > .error,
.content.with-error > .intro,
.content.with-diagram > .intro {
    display: none;
}
.content:not(.with-diagram) ~ .analysis {
    display: none;
}


.content .canvas,
.content.with-error .canvas {
    visibility: hidden;
}

.content.with-diagram .canvas {
    visibility: visible;
}

.button-row {
    position: fixed;
    left: 20px;

    padding: 0;
    margin: 0;
    list-style: none;
}
.button-row.download {
    bottom: 20px;
}
.button-row.open {
    bottom: 60px;
}

.button-row > li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
.survey > button,
.button-row > li > a,
.button-row > li > button,
.d-panel > button {
    color: black;
    background-color: #f8f8f8;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border: solid 1px #cdcdcd;
}

.button-row a,
.button-row button {
    opacity: 0.3;
    text-decoration: none;
    cursor: not-allowed;
}

.button-row a.active,
.button-row button.active,
.d-panel button {
    opacity: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.examples {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
    gap: 10px
}

.examples select {
    max-width: 250px;
}


@font-face {
    font-family: "Font Awesome 5 Free Solid";
    src: url("./css/font-awesome-5/fa.eot"); /* IE9*/
    src: url("./css/font-awesome-5/fa.eot?#iefix") format("embedded-opentype"),
         /* IE6-IE8 */ url("./css/font-awesome-5/fa.woff2") format("woff2"),
         /* chrome、firefox */ url("./css/font-awesome-5/fa.woff") format("woff"),
         /* chrome、firefox */ url("./css/font-awesome-5/fa.ttf") format("truetype"),
         /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("./css/font-awesome-5/fa.svg#Font Awesome 5 Free Solid") format("svg"); /* iOS 4.1- */
}

.analysis {
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    align-items: center;

    background-color: #f8f8f8;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    border: solid 1px #cdcdcd;

    bottom: -50px;
    left: 50%;
    padding: 5px;
    position: fixed;
    transform: translate(-50%, -50%);
}

.fulfilled {
    color: var(--color-property--fulfilled);
}

.violated {
    color: var(--color-property--violated);
}

.general-icon.icon-check::before {
    content: "\e804";
}

.general-icon.icon-xmark::before {
    content: "\e800";
}

[class*="general-icon"]::before {
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
}

.general-icon {
    font-family: "Font Awesome 5 Free Solid", serif;
    line-height: 1.2em;
    box-sizing: border-box;
    font-size: 18px;
}

.enable-analysis {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.enable-analysis > .bts-toggle-mode.active {
    background-color: var(--token-simulation-green-base-44, #10D070);
    color: var(--token-simulation-white, #FFFFFF);
}

/* Survey */
.survey {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: rgba(225, 225, 225, 1.0);
    padding: 20px;
}
.survey.later {
    display: none;
    top: calc(50% - 150px);
    -webkit-box-shadow: 5px 5px 15px -6px #000000;
    box-shadow: 5px 5px 15px -6px #000000;
    z-index: 1000;
}
.survey.later.highlighted {
    display: flex;
}
.survey > a > #survey-logo > img,
.survey > a > #survey-logo2 > img {
    width: 200px;
    height: 200px;
}
.survey > .note {
    width: 100% !important;
}
.survey > button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.survey > a > #survey-logo,
.survey > a > #survey-logo2 {
    cursor: pointer;
}
#survey {
    display: block;
    right: 230px;
    letter-spacing: 0;
    width: 80px;
}
#survey.highlighted {
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #0073e6, 0 0 4px #0073e6, 0 0 5px #0073e6, 0 0 6px #0073e6, 0 0 7px #0073e6;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #0073e6, 0 0 8px #0073e6, 0 0 10px #0073e6, 0 0 12px #0073e6, 0 0 14px #0073e6;
    }
}